{% extends "layout/base.html" %}
{% block content %}
<form action="/build/{{EbuildId}}/" method="post">{% csrf_token %}
{{ Configform.as_p }}
<input type="submit" value="New" />
</form>
{% for BuildJobs in BuildJobList %}
	<fieldset disabled>
	<div class="checkbox">
	<span> Build job id: {{ BuildJobs.Id}} Setup/Config: {{ BuildJobs.Config}}</span>
	{% for Use in BuildJobs.Use %}
		<label>
		<input class="form-control" type="checkbox" {{ Use.Status }}>{{ Use.Use }}
		</label>
	{% endfor %}
	</fieldset>
	<a href="/editbuildjob/{{ BuildJobs.Id}}/" class="btn btn-default btn-lg active" role="button">Edit</a>
	<a href="/delbuildjob/{{ BuildJobs.Id}}/" class="btn btn-default btn-lg active" role="button">Remove</a>
	</div>
{% endfor %}
{% endblock %}
